{% extends 'base.html' %}
{% block content %}
<div class="container border text-center">
    <h1 class="display-5 m-5">Select the type of assessment:</h1>
    <div class="row d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Screening Test</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'assessment/screening/select_student' %}" class="btn btn-primary">Select Students</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Assessment</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Select Students</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}