{% extends "base.html" %}

{% block title %}
    <title>Assessment List</title>
{% endblock title %}
{% block content %}
<div class="container my-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#screening" type="button" role="tab" aria-controls="home" aria-selected="true">Screening Tests</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#graded" type="button" role="tab" aria-controls="profile" aria-selected="false">Graded Passages</button>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="myTabsContent">
        <div class="tab-pane fade show active" id="screening" role="tabpanel" aria-labelledby="home-tab">
            <div class="mt-5"></div>
            {% if screening_assessments %}
            <table class="table table-hover" id='screening-tests-list'>
                <thead class="table-dark">
                    <tr>
                        <th>Student</th>
                        <th>Passage Grade Level</th>
                        <th>Score</th> 
                        <th>Literal</th>
                        <th>Inferential</th>
                        <th>Critical</th>
                        <th>Passcode</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in screening_assessments %}
                        {% include "assessment/partials/partial_assessment_table.html" %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="lead m-5">No screening assessments assigned or conducted yet</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="graded" role="tabpanel" aria-labelledby="profile-tab">
            {% if graded_assessments %}
            <div class="mt-5"></div>
            <table class="table" id='graded-passages-list'>
                <thead class="table-dark">
                    <tr>
                        <th>Student</th>
                        <th>Passage Grade Level</th>
                        <th>Reading Rating</th>
                        <th>Passage Title</th>
                        <th>Score</th> 
                        <th>Passcode</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in graded_assessments %}
                        {% include "assessment/partials/partial_assessment_table.html" %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="lead m-5">No graded assessments assigned or conducted yet</p>
            {% endif %}
        </div>
        <!-- Add more tab panes as needed -->
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#screening-tests-list').DataTable({
            "responsive": true,
            "columnDefs": [
                { responsivePriority: 1, targets: 0 }, 
                { responsivePriority: 2, targets: 2 }, 
                { responsivePriority: 3, targets: 8 }, 
                { responsivePriority: 4, targets: -1 }, 
            ]
        });
        $('#graded-passages-list').DataTable();
    });
</script>
{% endblock content %}