{% extends "base.html" %}

{% block title %}
    <title>Assessment List</title>
{% endblock title %}
{% block content %}
<div class="container my-5">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Student</th>
                <th>Assessment Type</th>
                <th>Passage</th>
                <th>Grade Level</th>
                <th>Assigned Time</th>
                <th>Date Taken</th>
                <th>Date Finished</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for assessment in assessments %}
            <tr>
                <td>{{ assessment.student }}</td>
                <td>{{ assessment.assessment_type }}</td>
                <td>
                    {% for passage in assessment.get_passages %}
                        | {{ passage }} 
                    {% endfor %}
                </td>
                <td>Grade {{ assessment.grade_level }}</td>
                <td>{{ assessment.assigned_time }}</td>
                <td>
                    {% if assessment.start_time %}
                        {{ assessment.start_time }}
                    {% else %}
                        Not yet started
                    {% endif %}
                </td>
                <td>
                    {% if assessment.end_time %}
                        {{ assessment.end_time }}
                    {% else %}
                        Not yet started
                    {% endif %}
                </td>
                <td>
                    {% if assessment.is_finished %}
                        Completed 
                    {% else %}
                        On-going
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="text-decoration-none">View assessment</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}