{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>
        {% if assessment_type == 'Screening' %}
            Screening Test
        {% else %}
            Graded Passages
        {% endif %}
    </title>
{% endblock title %}


{% block content %}
<div class="container my-5">
    <!-- Screening -->
    {% if assessment_type == 'Screening' and students %}
        {% include "utils/back.html" %}
        <h1 class="display-5 mb-5">Select students to assign Screening Test: </h1>
        <table class="table table-hover" id="studentList">
            <form method="POST" action="{% url 'assign_assessment' assessment_type='Screening' %}">
                {% csrf_token %}
                {% include 'assessment/partials/partial_student_table.html' %}
        </table>
            <div class="my-2">
                {{ form }}
            </div>
        <button type="submit" class="btn btn-success">Assign screening test</button>
        </form>

    <!-- Graded -->
    {% elif assessment_type == 'Graded' %}
        {% include "utils/back.html" %}
        <h1 class="display-5 my-5 text-center">Graded Passages</h1>

        <!-- Filter -->
		{% include 'reading/partials/partial_filter_reading_material.html' %}

        <table id="reading-list" class="table">
            <thead class="table-dark">
                <th></th>
                <th>Passage Title</th>
                <th>Grade Level</th>
                <th>Language</th>
                <th>Number of Words</th>
                <th>Number of Questions</th>
                <th></th>
            </thead>
            <tbody>
                {% for passage in passages %}
                    <tr>
                        <td></td>
                        <td>{{ passage.passage_title }}</td>
                        <td>Grade {{ passage.grade_level }}</td>
                        <td>{{ passage.language }}</td>
                        <td>{{ passage.passage_length }} words</td>
                        <td>{{ passage.number_of_questions }} questions</td>
                        <td>
                            <button 
                                class="btn btn-success"
                                data-bs-toggle="modal" 
                                data-bs-target="#assessment-settings-modal-{{ passage.id }}"
                                data-passage-id="{{ passage.id }}">
                                Select
                            </button>
                        </td>
                    </tr>
                    
                    {% include 'assessment/modals/modal_settings.html' %}
                {% endfor %}
            </tbody>
        </table>

    <!-- Graded Select Students -->
    {% elif mode == 'select student' and passage %}
        <div class="container">
            <h1 class="display-6">Passage Title: <strong>{{ passage.passage_title }}</strong></h1>
            <h1 class="display-6">Grade Level: <strong>{{ passage.grade_level }}</strong></h1>
            <h1 class="display-6">Words: <strong>{{ passage.passage_length }} words</strong></h1>
            <h1 class="display-6">Questions: <strong>{{ passage.number_of_questions }} questions</strong></h1>
        </div>

        <!-- Form -->
        <form method="POST" action="{% url 'assign_assessment' assessment_type='Graded' %}">
            <input type="hidden" name="passage_id" value="{{ passage.id }}">
            {% if students %}
            <h1 class="lead mt-5">Select students:</h1>
            <table class="table table-hover" id="studentList">
                {% csrf_token %}
                    {% include 'assessment/partials/partial_student_table.html' %}
            </table>
            <button class="btn btn-success" id="graded-assessment-assign">Assign assesment</button>
            {% else %}
                <p class="lead my-5">There are no students can take this <strong>Graded Passage</strong> right now.
                    <a href="{% url 'select_material_graded' %}" class="text-decoration-none text-success">
                        Back to select passages
                    </a>
                </p>
            {% endif %}
        </form>

    <!-- NO STUDENTS -->
    {% else %}
        <p class="lead my-5">There are no students that need screening test right now.
            <a href="{% url 'assessment_select' %}" class="text-decoration-none text-success">Back to select assessment</a>
        </p>
    {% endif %}
</div>

<script src="{% static 'assets/js/assessment/checkbox.js' %}"></script>
<script src="{% static 'assets/js/reading/filter_reading_materials.js' %}"></script>
{% endblock %}