{% extends 'base.html' %}
{% load static%}

{% block title %}
    <title>Enter your new password</title>
{% endblock title %}

{% block content %}
<head>
    
    <!-- Local CSS files -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<!-- Forgot Form -->
<section class="form-section">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'assets/img/banner_3.png' %}" class="img-fluid" alt="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png" title="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                {% if validlink %}
                    <h1 class="display-5 mb-5">Reset your password</h1> 
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }} 
                        <button type="submit" class="btn btn-success btn-lg w-100">Reset Password</button>
                    </form>
                {% else %}
                    <h3>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{% url 'forgot' %}" class="link-success text-decoration-none">new password reset</a>. 
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>
    
{% endblock %}