{% extends 'base.html' %}
{% load static%}

{% block content %}
<head>
    <title>Forgot Password</title>
    
    <!-- Local CSS files -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<!-- Forgot Form -->
<section class="form-section">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'assets/img/banner_3.png' %}" class="img-fluid" alt="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png" title="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <p>The password reset link is invalid or has expired. Please request a new password reset.</p>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}