{% extends 'base.html' %}
{% load static %}

{% block title %}
  	<title>Register</title>
{% endblock title %}

{% block content %}
<head>
  	<!-- Local CSS files -->
  	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<section class="form-section">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
		  		<img src="{% static 'assets/img/banner_3.png' %}" class="img-fluid" alt="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png" title="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<h1 class="display-1">Register</h1>
					<div class="text-center">
						<p class="lead">Are you a</p>
						<a type="button" class="btn btn-primary btn-lg" href="/register/teacher">Teacher?</a>
						<p class="lead">or a</p>
						<a type="button" class="btn btn-success btn-lg" href="/register/student">Student?</a>
					</div>
				<div class="text-center text-lg-start mt-5 pt-2">
					<p class="small fw-bold mt-2 pt-1 mb-0 text-center">Already have an account? <a href="/login" class="link-success text-decoration-none">Login</a></p>
				</div>
	
			</div>
		</div>
	</div>
</section>

{% endblock content %}