{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Register - ReadingComp</title>
  
  	<!-- Local CSS files -->
  	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<!-- Register Form -->
<section class="form-section">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
		  		<img src="{% static 'assets/img/banner_3.png' %}" class="img-fluid" alt="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png" title="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<h1 class="display-5 mb-4">Teacher Registration</h1>
				<!-- Form-->
				<form method="POST" action="">
					{% csrf_token %}
					{{ register_form.as_p }}
				<div class="text-center text-lg-start mt-4 pt-2">
					<button type="submit" name="register" class="btn btn-success btn-lg w-100">Register</button>
					<p class="small fw-bold mt-2 pt-1 mb-0 text-center">Already have an account? <a href="/login" class="link-success text-decoration-none">Login</a></p>
				</div>
	
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}