<div id="instruction-card">
    <div class="card p-3">
        <div class="card-body">
            <h5 class="card-title display-5">Instructions:</h5>
            <ul class="card-text lead">
                <li>Click the button below to start reading the passage.</li>
                <li>Read the passage carefully before you start answering.</li>
                <li>Read each question carefully and make sure to answer all the questions</li>
                <li>Click the choice of your answer using the mouse</li>
                <li>Click submit after you finish answering all the questions</li>
            </ul>
            <button id="start-reading-button" class="btn btn-primary">Start Reading Passage</button>
        </div>
    </div>
</div>