<!-- Modal -->
<div class="modal fade" id="edit-student-modal" tabindex="-1" aria-labelledby="edit-student-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-student-modal-label">Edit student record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="edit-form-container">
                    <!-- Rendered using JavaScript -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->