<div class="table-responsive">
    <table class="table table-bordered table-hover" id="studentList">
        <thead>
            <tr>
                <th>ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Grade Level</th>
                <th>Section</th>
                <th>Date Added</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>Grade {{ student.grade_level }}</td>
                    <td>{{ student.class_section }}</td>
                    <td>{{ student.date_added|date:"M d, Y"|upper }}</td>
                    <!--Action buttons-->
                    <td class="d-flex justify-content-around">
                        {% if student.is_approved %}
                            <button type="button" class="btn btn-primary btn-sm edit-student-btn" id="editStudentButton" data-bs-toggle="modal" data-bs-target="#editStudentModal" data-student-id="{{ student.user.id }}">
                                Edit Student
                            </button>
                            <button type="button" class="btn btn-danger btn-sm delete-student-btn" id="deleteStudentButton" data-bs-toggle="modal" data-bs-target="#deleteStudentModal" data-student-id="{{ student.user.id }}">
                                Delete Student
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-success btn-sm approve-student-btn" id="approve-button" data-bs-toggle="modal" data-bs-target="#approve-student-modal" data-student-id="{{ student.user.id }}">
                                Approve Registration
                            </button>
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        let approveButton = $('#approve-button');
        let approveForm = $('#approve-student-form');

        approveButton.click(function() {
            let studentId = approveButton.data('student-id');
            approveForm.find('#student-id').val(studentId);
           
            getSingleStudentRecord(studentId)
            .then(function(studentRecord) {
                approveForm.find('#id_first_name').val(studentRecord.first_name);
                approveForm.find('#id_last_name').val(studentRecord.last_name);
                approveForm.find('#id_grade_level').val(studentRecord.grade_level);
                approveForm.find('#id_class_section').val(studentRecord.class_section);
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        });
    });
</script>