{% extends "base.html" %}

{% block title %}
    <title>{{ student.first_name }} {{ student.last_name }}'s Profile</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-9">
      <!-- Student's Full Name -->
      <h1 class="display-4 mb-4">
        {{ student.last_name }}, {{ student.first_name }} 
      </h1>
      <p class="lead"><strong>School ID:</strong> {{ student.student_school_id }}</p>
      <p class="lead"><strong>Grade Level:</strong> {{ student.grade_level }}</p>
      <p class="lead"><strong>Section:</strong> {{ student.class_section }}</p>
      <p class="lead"><strong>Rating:</strong> {{ student.overall_rating }}</p>
    </div>
  </div>
  <div class="row mt-5">
    <hr>
    <div class="col-12">
        <h1 class="display-4 mb-5">
            Assessment Summary
        </h1>
        {% if assessments %}
            {% for assessment in assessments %}
                <div class="card my-2">
                    <div class="card-body">
                      <p class="display-6">
                        {{ assessment.assessment_type }}
                      </p>
                      <p class="lead">
                        <strong>Total Score: </strong>
                        {% if assessment.total_score %}
                          {{ assessment.total_score }}
                        {% else %}
                          No records yet
                        {% endif %} 
                      </p>
                      <p class="lead">
                        <strong>Total Reading Time: </strong>
                        {% if assessment.total_answering_time %}
                          {{ assessment.total_reading_time }} seconds
                        {% else %}
                          No records yet
                        {% endif %} 
                      </p>
                      <p class="lead">
                        <strong>Total Answering Time: </strong>
                        {% if assessment.total_answering_time %}
                          {{ assessment.total_answering_time }} seconds
                        {% else %}
                          No records yet
                        {% endif %} 
                      </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="lead">No assessments taken yet</p>
        {% endif %}
    </div>
  </div>
</div>


{% endblock content %}
