{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h2 class="display-3 mt-3">Student List</h2>
        {% include 'students/partials/back_button.html' %}
    </div>
    <!-- Filter records -->

    <div class="form-group d-flex justify-content-end p-3">
        <!-- Filter options -->
        {% include 'students/partials/filter_student_table.html' %}
        
        <!-- Button to trigger the modal -->
        <button 
            type="button" 
            class="btn btn-success w-25 h-50 my-3" 
            data-bs-toggle="modal" 
            data-bs-target="#addStudentModal">
                Registration Code
        </button>
    </div>
    <!-- End Modal Button -->

    <!-- Student table that contains student records -->
    {% include 'students/partials/partial_student_table.html' %}

    <!-- Modal for approving student registration -->
    {% include 'students/modals/modal_approve_student.html' %}

    <!-- Modal adding student records -->
    {% include 'students/modals/modal_add_student.html' %}

    <!-- Modal for confirmation of adding from archived records -->
    {% include 'students/modals/modal_add_archived_student.html' %}

    <!-- Modal for editing student records-->
    {% include 'students/modals/modal_edit_student.html' %}

    <!-- Modal for delete record confirmation-->
    {% include 'students/modals/modal_delete_student.html' %}
</div>


<!-- Script for calling add_student view -->
<script src="{% static 'assets/js/students/add_student.js' %}"></script>

<!-- Script for listening to edit button click and rendering edit form -->
<script src="{% static 'assets/js/students/edit_student.js' %}"></script>
<script src="{% static 'assets/js/students/student_lrn_parse_int.js' %}"></script>

<!-- Script for listening to delete button click and rendering delete form -->
<script src="{% static 'assets/js/students/delete_student.js' %}"></script>

<!-- Script for student approval modal -->
<script src="{% static 'assets/js/students/approve_student.js' %}"></script>

<!--Script for fetching class section data -->
<script src="{% static 'assets/js/students/get_class_section_data.js' %}"></script>

<!--Script for fetching class section data -->
<script src="{% static 'assets/js/students/get_single_student_record.js' %}"></script>

<!--Script for dynamic class section choices -->
<script src="{% static 'assets/js/students/dynamic_choice_field.js' %}"></script>

<!--Script for auto filling the edit form -->
<script src="{% static 'assets/js/students/fill_form_fields.js' %}"></script>

<!-- Populate Section Filter -->
<script src="{% static 'assets/js/students/populate_filter_by_section.js' %}"></script>

<!-- Filter script -->
<script src="{% static 'assets/js/students/filter_student_table.js' %}"></script>
{% endblock %}