{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ student.first_name }} {{ student.last_name }}'s Profile</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
	<!-- Confirm Modal -->

  	<div class="row">
      		<!-- Student's Full Name -->
      		<h1 class="display-4 mb-4">
        		{{ student.full_name }}
      		</h1>
			<p class="lead"><strong>Grade Level:</strong> {{ student.grade_level }}</p>
			<p class="lead"><strong>Section:</strong> {{ student.class_section }}</p>
	
			<!-- Update and Delete Student Profile Buttons -->
			{% include "students/student_profile_partials/update_delete_buttons.html" %}
			<hr>

			<!-- English and Filipino Rating Information Cards -->
			{% include "students/student_profile_partials/recommendations.html" %}
			
    	<div class="d-grid gap-2 d-md-flex justify-content-md-center">
			<!-- Assign Buttons -->
			{% include "students/student_profile_partials/assign_buttons.html" %}
		
			<!-- Modals -->
			{% if student %}
				{% include "assessment/modals/modal_preset_select.html" %}
				{% include "assessment/modals/modal_language_select.html" %}
				{% include "students/modals/modal_select_language_report.html" %}
				{% include "students/modals/modal_delete_student.html" %}
			{% endif %}
    	</div>
	</div>

<div class="row mt-5">
    <hr>
    <div class="container">
        <h1 class="display-4 mb-5">
            Assessment Summary
        </h1>
		<!-- Student Rating Per Grade Level -->
		{% include "students/student_profile_partials/student_rating_per_grade.html" %}
	
		<!-- Screening Tests -->
		{% include "students/student_profile_partials/table_screening_tests.html" %}

		<!-- Graded Passages -->
		{% include "students/student_profile_partials/table_graded_passages.html" %}

		
    </div>
  </div>
</div>

<script src="{% static 'assets/js/students/dynamic_choice_field.js' %}"></script>

{% endblock content %}
