{% extends "base.html" %}

{% block title %}
    <title>{{ student.first_name }} {{ student.last_name }}'s Profile</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-9">
      <!-- Student's Full Name -->
      <h1 class="display-4 mb-4">
        {{ student.last_name }}, {{ student.first_name }} 
      </h1>
      <p class="lead"><strong>School ID:</strong> {{ student.student_school_id }}</p>
      <p class="lead"><strong>Grade Level:</strong> {{ student.grade_level }}</p>
      <p class="lead"><strong>Section:</strong> {{ student.class_section }}</p>
      <p class="lead"><strong>Rating:</strong> {{ student.overall_rating }}</p>
    </div>
  </div>
  <div class="row mt-5">
    <hr>
    <div class="col-12">
        <h1 class="display-4 mb-5">
            Assessment Summary
        </h1>
        {% if assessments %}
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Type</th>
                <th>Grade Level</th>
                <th>Total Score</th>
                <th>Total Reading Time</th>
                <th>Total Answering Time</th>
                <th>Date Taken</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-bordered">
              {% for assessment in assessments %}
                <tr>
                  <td>
                    {{ assessment.assessment_type }}
                  </td>
                  <td>
                    Grade {{ assessment.grade_level }}
                  </td>
                  <td>
                    {% if assessment.total_score %}
                      {{ assessment.total_score }} / {{ assessment.number_of_questions }}
                    {% else %}
                      No records yet
                    {% endif %} 
                  </td>
                  <td>
                    {% if assessment.total_answering_time %}
                      {{ assessment.total_reading_time }} seconds
                    {% else %}
                      No records yet
                    {% endif %} 
                  </td>
                  <td>
                    {% if assessment.total_answering_time %}
                      {{ assessment.total_answering_time }} seconds
                    {% else %}
                      No records yet
                    {% endif %} 
                  </td>
                  <td>
                    {% if assessment.end_time %}
                      {{ assessment.end_time }}
                    {% else %}
                      Not yet taken
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'view_assessment' assessment.id %}" class="btn btn-primary">View Assessment</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
            <p class="lead">No assessments taken yet</p>
        {% endif %}
    </div>
  </div>
</div>


{% endblock content %}
