<div class="table table-responsive">
    <table class="table table-hover" id="studentList">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Grade Level</th>
                <th>Section</th>
                <th>Date Added</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.last_name }}, {{ student.first_name }}</td>
                    <td>Grade {{ student.grade_level }}</td>
                    <td>{{ student.class_section }}</td>
                    <td>{{ student.date_added|date:"M d, Y"|upper }}</td>
                    <!--Action buttons-->
                    <td class="d-grid gap-2 d-md-flex justify-content-md-around">
                        {% if student.is_approved %}
                            <a 
                                href="{% url 'student_profile' student.user.id %}" 
                                type="button" 
                                class="btn btn-primary">
                                    View Student Profile
                            </a>
                        {% else %}
                            <button 
                                type="button" 
                                class="btn btn-success btn-sm approve-student-button" 
                                id="approve-button" 
                                data-bs-toggle="modal" 
                                data-bs-target="#approve-student-modal" 
                                data-student-id="{{ student.user.id }}">
                                    Approve Registration
                            </button>
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>