{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-3 mt-3">Add Reading Material</h1>
    <form id="form-container" method="POST" action="{% url 'add_reading_material' %}">
        {% csrf_token %}
        <!-- Passage Form -->
        {{ passage_form }}
        
        {{ question_formset.management_form }}
        {{ question_formset.non_form_errors }}
        {% for question_form in question_formset %}
                <div class="question-form">
                    {{ question_form }}
    
                    {% if question_form.nested %}
                        {{ question_form.nested.management_form }}
                        {{ question_form.nested.non_form_errors }}
    
                        {% for choice_form in question_form.nested %}
                        <div class="row">
                            <div class="col-2 d-flex justify-content-around align-items-center">
                                <p class="text-muted m-0 p-0">Correct Answer</p>
                                {{ choice_form.is_correct }}
                            </div>
                            <div class="col-10">
                                {{ choice_form.choice_content }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <!-- Add more questions here -->
        
        <div class="container my-3">
            <button type="button" id="add-question-button" class="btn btn-primary">Add Question</button>
            <button type="submit" class="btn btn-success">Save Questions</button>
        </div>
    </form>
</div>
<script src="{% static 'assets/js/reading/add_question.js' %}"></script>
{% endblock %}