{% extends "base.html" %}
{% block title %}
    <title>Add Question</title>
{% endblock title %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'create_question' passage.id %}">
        {% csrf_token %}
        <h1 class="display-5">Add a question for {{ passage.passage_title }}</h1>
        {{ question_form }}
        {{ choice_form }}
        <p class="lead">Format for choices</p>
        <ul class="lead">
            <li>Wrong Option</li>
            <li>*Correct Option</li>
            <li>Wrong Option</li>
            <li>Wrong Option</li>
        </ul>
        <p class="lead">Insert asterisk in front of the choice to indicate correct answer</p>
        <button type="submit" class="btn btn-success">Add Question</button>
    </form>
</div>
{% endblock content %}