{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Reading Materials</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
	<h1 class="display-3 mt-3">Reading Materials</h1>
	<div class="d-flex justify-content-end">
		{% include 'reading/partials/partial_filter_reading_material.html' %}

	</div>
	<!-- Reading Material Table -->
	{% include 'reading/partials/partial_list_material.html' %}

	<!-- Modal confirmation for deleting passage -->
	{% include 'reading/modals/modal_delete_passage.html' %}

</div>

<script src="{% static 'assets/js/reading/get_passage_info.js' %}"></script>
<script src="{% static 'assets/js/reading/delete_passage_button.js' %}"></script>
<script src="{% static 'assets/js/reading/filter_reading_materials.js' %}"></script>
<script>
	$(document).ready(function() {
		$('#reading-list').DataTable();
	});
</script>
{% endblock content %}