{% extends 'base.html' %}

{% block title %}
<title>Assessment</title>
{% endblock title %}

{% block content %}
<div class="container my-5">

    <!-- Passage -->
    <div class="passage-container border border-5 bg-warning rounded p-3">
        <h1 class="display-3 text-center my-3 my-sm-2">
            <strong>
                {{ passage_instance.passage_title }}
            </strong>
        </h1>
        <p class="display-6 m-md-5 m-sm-3">
            <strong>
                {{ passage_instance.passage_content }}
            </strong>
        </p>
    </div>
    <div class="d-grid gap-2">
        <button 
            id="start-answering" 
            class="btn btn-primary my-2" 
            data-passage-id="{{ passage_instance.id }}">
                Start Answering
        </button>
    </div>

    <!-- Questions -->
    <div id="question-container" class="d-none my-5">
        <form method="POST" action="{% url 'graded_assessment' assessment_id %}">
            {% csrf_token %}
            {% for form_instance in form_instances %}
            <div class="card my-5 bg-secondary p-3">
                <div class="card-body text-light">
                    {{ form_instance }}
                </div>
            </div>
            {% endfor %}
            <div id="btn-container" class="container d-grid gap-2 mx-auto">
                <button type="submit" class="btn btn-success col-6 mx-auto">Submit</button>
            </div>
        </form>
    </div>

    <!-- Time -->
    <input type="hidden" id="start-time" name="start-time" value="{{ start_time }}">

</div>
<script>
    $(document).ready(function() {
        let startButton = $('#start-answering');
        let questionContainer = $('#question-container');
        let startTime = $('#start-time');

        startButton.click(function() {
            questionContainer.removeClass('d-none')
            $(this).remove()
        })
    });
</script>
{% endblock %}