{% extends 'base.html' %}

{% block title %}
<title>Screening Test</title>
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="display-5">Passage No. {{ order }}</h1>
    <!-- Passage -->
    <div class="passage-container border border-5 bg-warning rounded p-3">
        <h1 class="display-3 text-center my-3 my-sm-2">
            <strong>
                {{ passage_instance.passage_title }}
            </strong>
        </h1>
        <p class="display-6 m-md-5 m-sm-3">
            <strong>
                {{ passage_instance.passage_content }}
            </strong>
        </p>
    </div>
    <div class="d-grid gap-2">
        <button 
            id="start-answering" 
            class="btn btn-primary my-2" 
            data-passage-id="{{ passage_instance.id }}">
                Start Answering
        </button>
    </div>

    <!-- Questions -->
    <div id="question-container" class="d-none my-5">
        <form method="POST" action="{% url 'screening_assessment_next' assessment_id=assessment_instance.id order=order %}">
            {% csrf_token %}
            {% for question_form in question_forms %}
            <div class="card my-5 bg-secondary p-3">
                <div class="card-body text-light">
                    {{ question_form }}
                </div>
            </div>
            {% endfor %}
            <div id="btn-container" class="container d-grid gap-2 mx-auto">
                <button type="submit" class="btn btn-success col-6 mx-auto">Next</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'assets/js/assessment/main.js' %}"></script>
{% endblock %}