/* Hero Section */
.hero-container {
  position: relative;
  text-align: center;
  color: white;
}
.hero-container img {
  filter: brightness(65%);
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Features Section */
#features {
  background-color: #fff;
  padding: 50px 0;
}

#features h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}

#features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#features li {
  margin-bottom: 20px;
}

#features i {
  font-size: 48px;
  color: #000;
  margin-bottom: 20px;
}

#features h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

/* About Section */
#about {
  padding: 50px 0;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}

#about p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
}

#about img {
  max-width: 100%;
  height: auto;
}