/* Navbar */
.navbar {
background-color: #18191a;
position: sticky;
top: 0;
z-index: 100;
justify-content: flex-start;
}

.navbar-brand {
font-weight: bold;
font-size: 24px;
margin-right: auto;
}

.navbar-nav {
justify-content: flex-start;
align-items: center;
margin-left: auto;
}

.navbar-nav .nav-link {
color: #ffffff;
margin-right: 30px;
font-size: 18px;
}

.navbar-nav .nav-link:hover {
color: #b30e0e;
}

.navbar-nav .nav-link i {
margin-right: 5px;
}

/* User Dropdown */
.navbar-nav .dropdown-menu {
background-color: #18191a;
border: none;
padding: 10px;
min-width: 120px;
}

.navbar-nav .dropdown-item {
color: #ffffff;
font-size: 16px;
}

.navbar-nav .dropdown-item:hover {
background-color: #b30e0e;
border-radius: 5px;
}

.navbar-nav .dropdown-divider {
border-top-color: #b30e0e;
}
