body {
  background-color: #f8f9fa;
  overflow: hidden;
}


/* User Dropdown */
.navbar-nav .dropdown-menu {
  background-color: #18191a;
  border: none;
  padding: 10px;
  min-width: 120px;
}

.navbar-nav .dropdown-item {
  color: #ffffff;
  font-size: 16px;
}

.navbar-nav .dropdown-item:hover {
  background-color: #b30e0e;
  border-radius: 5px;
}

.navbar-nav .dropdown-divider {
  border-top-color: #b30e0e;
}


/* Forms Group */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-group label i {
  margin-right: 5px;
}

.form-control {
  border-radius: 10px;
}

/* Login Background */
.img-container {
  width: 150%;
  margin-left: -50%;
  height: 100vh;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Login Container */
.login-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 60px;
}

.login-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.login-text {
  text-align: center;
  margin-top: 10px;
}

.login-link {
  color: #007bff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}


/* Register Container */
.register-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

@media (max-width: 767px) {
  /* For smaller screens, stack the image and form vertically */
  .row {
    flex-direction: column;
  }

  .img-container {
    margin-bottom: 30px;
  }
  .col-lg-6 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.register-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.register-text {
  text-align: center;
  margin-top: 10px;
}

.register-link {
  color: #007bff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}


/* Login Button */
.btn-login {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-login i {
  margin-right: 5px;
}

.btn-login:hover {
  background-color: #005cbf;
  color: #ffffff;
}


/* Register Button */
.btn-register {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-register i {
  margin-right: 5px;
}

.btn-register:hover {
  background-color: #005cbf;
  color: #ffffff;
}


/* Back Button */
.back-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #007bff;
  font-size: 16px;
}

.back-button i {
  margin-right: 5px;
  font-size: 18px;
}

.back-button:hover {
  text-decoration: none;
}


/* Assessment Container */
.assessment-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #ececec;
  border-radius: 20px;
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;

}

.assessment-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.assessment-container div {
  margin-bottom: 30px;
}

.assessment-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.assessment-container p {
  margin-bottom: 10px;
}

.assessment-container a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.assessment-container a:hover {
  background-color: #0056b3;
}


/* Grade Container */
.grade-container {
  margin-bottom: 30px;
}

.grade-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grade-container div {
  margin-bottom: 30px;
}

.grade-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grade-container p {
  margin-bottom: 10px;
}

.grade-container a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.grade-container a:hover {
  background-color: #0056b3;
}


/* Modal */
.modal-dialog {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 5px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  justify-content: flex-end;
  border-top: none;
}


/* Test Type List */
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}


/* Quiz Container */
.quiz-container h1 {
  margin-bottom: 30px;
}

.quiz-container {
  max-width: 800px; 
  margin: 30px auto;
  padding: 20px;
}


/* Questions & Choices */
.question-container {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ececec;
  border-radius: 20px;
}

.question {
  margin-bottom: 20px;
}

.choices label {
  display: block;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  margin-top: 50px;
}

.button-container button {
  margin-left: 15px;
}


/* Footer */
footer {
  background-color: #18191a;
  color: #ffffff;
  text-align: center;
  padding: 16px 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.footer2 {
  background-color: #18191a;
  color: #ffffff;
  text-align: center;
  padding: 16px 0;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer2 p {
  font-size: 14px;
  margin: 0;
}
