<!-- Modal -->
<div class="modal fade" id="edit-student-modal" tabindex="-1" aria-labelledby="edit-student-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-student-modal-label">Edit student record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'edit_student' student.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="edit-form-container">
                        {{ student_edit_form }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->