<!-- Modal -->
<div class="modal fade" id="approve-student-modal" tabindex="-1" aria-labelledby="approve-student-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approve-student-modal-label">Enter student's LRN to approve their registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="approve-form-container">
                    <!-- Rendered using JavaScript -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->