<!-- Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_student' %}" id="add-student-form">
                    {% csrf_token %}
                    <input type="hidden" id="school-id" value="{{ user.teacher.school.id }}">
                    <div class="container mb-5">
                        {{ add_form }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="modal-add-button">Add Student</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->