<table id="reading-list" class="table table-responsive table-hover">
    <thead class="table-dark">
        <th></th>
        <th>Passage Title</th>
        <th>Language</th>
        <th>Type</th>
        <th>Grade Level</th>
        <th>Set</th>
        <th>Word Count</th>
        <th>Number of Questions</th>

        <th></th>
    </thead>
    <tbody>
        {% for passage in passages %}
            <tr class="bg-{% if passage.grade_level == 1 %}info
            {% elif passage.grade_level == 2 %}warning
            {% elif passage.grade_level == 3 %}success
            {% elif passage.grade_level == 4 %}danger
            {% elif passage.grade_level == 5 %}secondary
            {% elif passage.grade_level == 6 %}light
            {% endif %} border-dark">
                <td></td>
                <td>{{ passage.passage_title }}</td>
                <td>{{ passage.language }}</td>
                <td>{% if passage.preset == None %}
                        Graded Passage
                    {% else %}
                        {{ passage.preset }}
                    {% endif %}
                </td>
                <td>Grade {{ passage.grade_level }}</td>
                <td>
                    {% if passage.set %}
                        {{ passage.set }}
                    {% endif %}
                </td>
                <td>{{ passage.passage_length }} words</td>
                <td>{{ passage.number_of_questions }} questions</td>
                <td class="d-flex justify-content-around">
		            <a type="button" 
                        class="btn btn-success h-50 align-self-center" 
                        href="{% url 'manage_passage' passage.id %}">
                            View Passage
                    </a>
                    {% if user.is_school_admin %}
                        <a href="{% url 'create_question' passage.id %}" class="btn btn-outline-primary">
                            Add Question
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
	$(document).ready(function() {
		$('#reading-list').DataTable({
			"responsive": true,
            "columnDefs": [
                { responsivePriority: 1, targets: 0 }, 
                { responsivePriority: 2, targets: 1 }, 
                { responsivePriority: 3, targets: -1 }, 
                { responsivePriority: 4, targets: 3 }, 

			]
        });
	});
</script>