<table id="reading-list" class="table table-responsive">
    <thead class="table-dark">
        <th>ID</th>
        <th class="">Passage Title</th>
        <th class="">Type</th>
        <th class="">Grade Level</th>
        <th class="">Word Count</th>
        <th class="">Number of Questions</th>

        <th></th>
    </thead>
    <tbody>
        {% for passage in passages %}
            <tr>
                <td>{{ passage.id }}</td>
                <td>{{ passage.passage_title }}</td>
                <td>{{ passage.preset }}</td>
                <td>Grade {{ passage.grade_level }}</td>
                <td>{{ passage.passage_length }} words</td>
                <td>{{ passage.number_of_questions }} questions</td>
                <td class="d-flex justify-content-around">
		            <a type="button" 
                        class="btn btn-success h-50 align-self-center" 
                        href="{% url 'manage_passage' passage.id %}">
                            View Passage
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>