<div class="filter-container d-flex mb-4" id="reading-filter-container">
    <!--Reset button -->
    <button class="btn" id="filter-reset-button"><i class="fa fa-refresh" aria-hidden="true"></i> Reset Filter</button>
    <div class="form-group mx-3">
        <label class="form-label" for="grade-level">Filter by Grade:</label>
        <select class="form-select" id="grade-level">
            <option value="">All</option>
            <option value="1">Grade 1</option>
            <option value="2">Grade 2</option>
            <option value="3">Grade 3</option>
            <option value="4">Grade 4</option>
            <option value="5">Grade 5</option>
            <option value="6">Grade 6</option>
            <option value="7">Grade 7</option>
        </select>
    </div>
</div>