{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block title %}
   
    {% endblock title %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href='{% static "assets/bootstrap/css/bootstrap.css" %}'>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href='{% static "assets/fontawesome/css/all.css" %}'>
    <script src="{% static 'assets/fontawesome/js/all.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'assets/jquery/js/jquery-3.7.1.js'%}"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    {% if user.is_teacher %}
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="{% url 'assessment_select' %}">
                                    <i class="fas fa-book-open"></i>
                                    Start Assessments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="{% url 'assessment_list' %}">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Assessment List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="{% url 'reading_material' %}">
                                    <i class="fa-solid fa-book"></i> 
                                    Reading Materials
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="{% url 'student_list' %}">
                                    <i class="fas fa-chalkboard-teacher"></i> 
                                    Student List
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        {% include 'base_auth_dropdown.html' %}
                    </div>

                    {% elif user.is_student %}
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="{% url 'student_assessment_list' %}">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                    My Assessments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="{% url 'student_profile' request.user.id %}">
                                    <i class="fa-solid fa-user"></i> 
                                    My Profile
                            </a>
                        </li>
                    </ul> <!-- End of list -->
                    <div class="d-flex">
                        {% include 'base_auth_dropdown.html' %}
                    </div>

                    {% else %}
                    </ul>
                    <div class="d-flex">
                        {% include 'base_not_auth_dropdown.html' %}
                    </div>
                    {% endif %}
            </div>
        </div>
    </nav>

    {% if messages %}
        <div class="row">
            <div class="message-box container text-center mt-5 fixed-top mx-auto col-sm-7 col-md-6 col-lg-5">
            {% for message in messages %}
                <div id="alert" class="alert
                    {% if message.tags == 'success' %}alert-success
                    {% elif message.tags == 'info' %}alert-info
                    {% else %}alert-danger
                    {% endif %} alert-dismissible fade show dismissable-message" 
                role="alert">
                    {{ message }}
                    <button 
                        type="button" 
                        class="btn-close" 
                        data-bs-dismiss="alert" 
                        aria-label="Close">
                    </button>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
  

    {% block content %}

    {% endblock content %}
    <script src="{% static 'assets/js/auto_close_main_alert.js' %}"></script>
</body>
</html>