<!-- Drop down -->
<li class="nav-item dropdown d-flex">
    <a class="nav-link dropdown-toggle text-light align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-user-circle"></i> {{ user_first_name }}
    </a>
    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
        <li><a class="text-light dropdown-item bg-dark" href="{% url 'logout' %}">Logout</a></li>
    </ul>
</li>
<!-- End drop down -->