{% extends 'base.html' %}
{% load static%}

{% block content %}
<head>
    <title>Forgot Password</title>
    
    <!-- Local CSS files -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<!-- Forgot Form -->
<section class="form-section">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'assets/img/banner_3.png' %}" class="img-fluid" alt="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png" title="https://pnghut.com/png/KQpFRSQjLW/reading-book-clip-art-transparent-png">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h1 class="display-5 mb-5">Forgot Password</h1>
                <form method="POST">
    
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="email"><i class="fa fa-user"></i> Email address</label>
                    <input type="text" name="email" id="email" class="form-control form-control-lg" placeholder="Enter your registered email address" required/>
                </div>
                
                <!-- Submit Button-->
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" name="send" value="Login" class="btn btn-success btn-lg w-100">Send Code</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0 text-center">Remember your password? <a href="/login" class="link-success">Login</a></p>
                </div>
        
                </form>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}