{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
	{% block title %}
		<title>Reading Assessment Tracker</title>	
	{% endblock title %}

	<!-- Local CSS files -->
	<link rel="stylesheet" href='{% static "assets/css/homepage.css" %}'>
</head>

<!-- Banner -->
<div class="card border-0">
	<img class="" src="{% static 'assets/img/banner_4.jpg' %}" style="filter: brightness(65%);">
	<div class="card-img-overlay text-light d-flex align-items-center pt-xs-5">
		<div class="px-2">
			<h1 class="display-1">Reading Comprehension Assessment Tracker</h2>
			<p class="display-6 mb-5">For Elementary Students</p>
		</div>
	</div>
</div>

<!-- Feaures  -->
<section class="mt-5" id="features" class="py-5">
	<div class="container pt-5 pb-5">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<i class="bi bi-bar-chart h1 text-primary mb-3"></i>
				<h4>Progress Reports</h4>
				<p>Generate detailed progress reports for each student, including scores, reading speed, and completion time.</p>
			</div>
			<div class="col-lg-4 mb-4">
				<i class="bi bi-check2-circle h1 text-primary mb-3"></i>
				<h4>Comprehension Level Assessment</h4>
				<p>Determine the comprehension level of the student through assessments.</p>
			</div>
			<div class="col-lg-4 mb-4">
				<i class="bi bi-journal-bookmark h1 text-primary mb-3"></i>
				<h4>Perforance-based Recommendations</h4>
				<p>Recommends difficulty based on the performance of the student.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 mb-4">
				<i class="bi bi-database h1 text-primary mb-3"></i>
				<h4>Automated Assessments</h4>
				<p>Automatic checking and processing of the results. One click of a button and begin an assessment.</p>
			</div>
			<div class="col-lg-4 mb-4">
				<i class="bi bi-ui-checks h1 text-primary mb-3"></i>
				<h4>User-friendly and Interactive Interface</h4>
				<p>Enjoy a user-friendly interface designed specifically for elementary teachers, ensuring easy navigation and accessibility.</p>
		</div>
		</div>
	</div>
</section>

<!-- About -->
<section id="about" class="py-5 bg-light">
	<div class="container pt-5 pb-5">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mb-4">About ReadingComp</h2>
				<p>ReadingComp is an innovative online tool designed to help elementary teachers track and improve their students' reading comprehension levels. With our performance-based adaptive algorithm, teachers can easily monitor their students' progress and provide personalized instruction.</p>
			</div>
			<div class="col-lg-6">
				<img src='{% static "assets/img/about_image.png" %}' alt="About Image" class="img-fluid">
			</div>
		</div>
	</div>
</section>

{% endblock content %}