<!-- Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_student' %}" id="addStudentForm">
                    {% csrf_token %}
                    {{ addStudentForm.as_p }}
                    <button type="submit" class="btn btn-success w-100">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->