<table class="table table-bordered" id="studentList">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade Level</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>Grade {{ student.grade_level }}</td>
                <td>{{ student.date_added }}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm mb-3 edit-student-btn" data-bs-toggle="modal" data-bs-target="#editStudentModal" data-student-id="{{ student.id }}">
                        Edit Student
                    </button>
                    <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>