{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2 class="display-3 mt-3">Student List</h2>
    <!-- Filter records -->

    <div class="form-group d-flex justify-content-end p-3">
        <!-- Filter options -->
        <input type="text" id="searchInput" class="form-control" placeholder="Search..." value="">
        {% include 'filter_student_table.html' %}
        
        <!-- Button to trigger the modal -->
        <button type="button" class="btn btn-success w-25 h-50 my-3" data-bs-toggle="modal" data-bs-target="#addStudentModal">
            Add Student
        </button>
    </div>
    <!-- End Modal Button -->

    <!-- Student table that contains student records -->
    {% include 'partial_student_table.html' %}

    <!-- Modal adding student records -->
    {% include 'modal_add_student.html' %}

    <!-- Modal for confirmation of adding from archived records -->
    {% include 'modal_add_archived_student.html' %}

    <!-- Modal for editing student records-->
    {% include 'modal_edit_student.html' %}

    <!-- Modal for delete record confirmation-->
    {% include 'modal_delete_student.html' %}
</div>

<!--Include jQuery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>

<!-- Script for calling add_student view -->
<script src="{% static 'assets/js/add_student.js' %}"></script>

<!--Script for fetching class section data -->
<script src="{% static 'assets/js/get_class_section_data.js' %}"></script>

<!--Script for fetching class section data -->
<script src="{% static 'assets/js/get_single_student_record.js' %}"></script>

<!--Script for dynamic class section choices -->
<script src="{% static 'assets/js/dynamic_choice_field.js' %}"></script>

<!--Script for auto filling the edit form -->
<script src="{% static 'assets/js/fill_form_fields.js' %}"></script>

<!-- Populate Section Filter -->
<script src="{% static 'assets/js/populate_filter_by_section.js' %}"></script>

<!-- Filter script -->
<script src="{% static 'assets/js/filter_student_table.js' %}"></script>
{% endblock %}