    <li class="nav-item">
        <a 
            class="nav-link link link-success" 
            href="{% url 'student_list' %}">
                <i class="fas fa-chalkboard-teacher"></i> 
                Student List
        </a>
    </li>
    <li class="nav-item">
        <a 
            class="nav-link" 
            href="{% url 'reading_material' %}">
                <i class="fa-solid fa-book"></i> 
                Reading Materials
        </a>
    </li>
    <li class="nav-item">
        <a 
            class="nav-link" 
            href="{% url 'assessment_select' %}">
                <i class="fas fa-book-open"></i>
                Start Assessments
        </a>
    </li>
    <li class="nav-item">
        <a 
            class="nav-link" 
            href="{% url 'assessment_list' %}">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                Assessment List
        </a>
    </li>
</ul>
<div class="d-flex">
    {% include 'base_partials/base_auth_dropdown.html' %}
</div>