<table id="reading-list" class="table">
    <thead class="table-dark">
        <th></th>
        <th>Passage Title</th>
        <th>Grade Level</th>
        <th>Language</th>
        <th>Number of Words</th>
        <th>Number of Questions</th>
        <th></th>
    </thead>
    <tbody>
        {% for passage in passages %}
            <tr class="bg-{% if passage.grade_level == 1 %}info
            {% elif passage.grade_level == 2 %}success
            {% elif passage.grade_level == 3 %}warning
            {% elif passage.grade_level == 4 %}danger
            {% elif passage.grade_level == 5 %}secondary
            {% elif passage.grade_level == 6 %}light
            {% endif %} border-dark">
                <td></td>
                <td>{{ passage.passage_title }}</td>
                <td>Grade {{ passage.grade_level }}</td>
                <td>{{ passage.language }}</td>
                <td>{{ passage.passage_length }} words</td>
                <td>{{ passage.number_of_questions }} questions</td>
                <td>
                    <button 
                        class="btn btn-success"
                        data-bs-toggle="modal" 
                        data-bs-target="#assessment-settings-modal-{{ passage.id }}"
                        data-passage-id="{{ passage.id }}">
                        Select
                    </button>
                </td>
            </tr>
                    
            {% include 'assessment/modals/modal_settings.html' %}
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#reading-list').DataTable();
    })
</script>