        <tr>
            <td>{{ assessment.student.last_name }}, {{ assessment.student.first_name }}</td>
            <td>{{ assessment.assessment_type }}</td>
            <td>Grade {{ assessment.grade_level }}</td>
            {% if assessment.assessment_type == 'Screening' %}
                <td>{{ assessment.total_score }} / {{ assessment.number_of_questions }}</td>
                <td>
                    {{ assessment.screening_assessment.correct_literal }} / {{ assessment.screening_assessment.total_literal }}
                </td>
                <td>
                    {{ assessment.screening_assessment.correct_inferential }} / {{ assessment.screening_assessment.total_inferential }}
                </td>
                <td>
                    {{ assessment.screening_assessment.correct_critical }} / {{ assessment.screening_assessment.total_critical }}
                </td>
            {% elif assessment.assessment_type == 'Graded' %}
                <td>{{ assessment.total_score }} / {{ assessment.number_of_questions }}</td>
            {% endif %}
            <td>
                {% if assessment.is_finished %}
                    Completed 
                {% else %}
                    On-going
                {% endif %}
            </td>
            <td>
                <a href="{% url 'view_assessment' assessment.id %}" class="text-decoration-none">View assessment</a>
            </td>
        </tr>