        <tr class="bg-{% if assessment.is_finished %}success{% else %}primary{% endif %} bg-opacity-25 border-dark">
            <td>{{ assessment.student.last_name }}, {{ assessment.student.first_name }}</td>
            <td>Grade {{ assessment.grade_level }}</td>
            {% if assessment.assessment_type == 'Screening' %}
                <td>
                    {% if assessment.total_score %}
                        {{ assessment.total_score }} / {{ assessment.number_of_questions }}
                    {% else %}
                        Not yet taken
                    {% endif %}
                </td>
                <td>
                    {{ assessment.screening_assessment.correct_literal }} / {{ assessment.screening_assessment.total_literal }}
                </td>
                <td>
                    {{ assessment.screening_assessment.correct_inferential }} / {{ assessment.screening_assessment.total_inferential }}
                </td>
                <td>
                    {{ assessment.screening_assessment.correct_critical }} / {{ assessment.screening_assessment.total_critical }}
                </td>
            {% elif assessment.assessment_type == 'Graded' %}
                <td>{{ assessment.graded_assessment.overall_rating }}</td>
                <td>{{ assessment.get_passages.0 }}</td>
                {% if assessment.total_score %}
                    <td>{{ assessment.total_score }} / {{ assessment.number_of_questions }}</td>
                {% else %}
                    <td>
                        Not yet finished
                    </td>
                {% endif %}
            {% endif %}
            <td>
                {{ assessment.passcode }}
            </td>
            <td>
                {% if assessment.is_finished %}
                    Completed 
                {% else %}
                    On-going
                {% endif %}
            </td>

            <!-- Action Buttons -->
            <td class="text-center">
                {% if assessment.assessment_type == 'Screening' %}
                    <a href="{% url 'view_assessment' assessment.id %}" class="btn btn-success">View assessment</a>
                {% elif assessment.is_finished %}
                    <a href="{% url 'assessment_session' assessment.id %}" class="btn btn-success">View Assessment</a>
                {% else %}
                    <a href="{% url 'assessment_session' assessment.id %}" class="btn btn-primary">Conduct Assessment</a>
                {% endif %}
            </td>
        </tr>