<thead class="table-dark">
    <tr>
        <th>
            <input 
                type="checkbox" 
                id="select-all-check" 
                class="form-check-input">    
                    Select All
        </th>
        <th>Name</th>
        <th>Grade Level</th>
        <th>Section</th>
        <th>Reading Rating</th>
        <th>Date Added</th>
    </tr>
</thead>
<tbody>
    {% for student in students %}
        <tr>
            <td>
                <input 
                    type="checkbox"
                    class="form-check-input align-self-center" 
                    name="selected_records" 
                    value="{{ student.id }}">
            </td>
            <!-- Checkbox end -->
            <td>{{ student.full_name }}</td>
            <td>Grade {{ student.grade_level }}</td>
            <td>{{ student.class_section }}</td>
            <td>{{ student.overall_rating }}</td>
            <td>{{ student.date_added|date:"M d, Y"|upper }}</td>
                    
        </tr>
    {% endfor %}
</tbody>